<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Capacitacion</display-name>
    <servlet-name>Capacitacion</servlet-name>
    <servlet-class>modelo.Capacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Capacitacion</servlet-name>
    <url-pattern>/Capacitacion</url-pattern>
  </servlet-mapping>
  <display-name>modulo5-grupal5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Usuario</display-name>
    <servlet-name>Usuario</servlet-name>
    <servlet-class>modelo.Usuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usuario</servlet-name>
    <url-pattern>/Usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cliente</display-name>
    <servlet-name>Cliente</servlet-name>
    <servlet-class>modelo.Cliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cliente</servlet-name>
    <url-pattern>/Cliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Administrativo</display-name>
    <servlet-name>Administrativo</servlet-name>
    <servlet-class>modelo.Administrativo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administrativo</servlet-name>
    <url-pattern>/Administrativo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profesional</display-name>
    <servlet-name>Profesional</servlet-name>
    <servlet-class>modelo.Profesional</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profesional</servlet-name>
    <url-pattern>/Profesional</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoUsuarios</display-name>
    <servlet-name>ListadoUsuarios</servlet-name>
    <servlet-class>controlador.ListadoUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoUsuarios</servlet-name>
    <url-pattern>/ListadoUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearUsuario</display-name>
    <servlet-name>CrearUsuario</servlet-name>
    <servlet-class>controlador.CrearUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearUsuario</servlet-name>
    <url-pattern>/CrearUsuario</url-pattern>
  </servlet-mapping>
</web-app>